:root{
    --bg-color: #fff;
    --text-color: #000;
    --darker-color: #000;
    --lighter-color: #333;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);

    font-family: 'Calibri', sans-serif;
}


.randomColor{
    color: var(--darker-color);

    padding: 1rem;

    font-size: 1rem;
    border: 2px solid var(--lighter-color);
    border-radius: 5px;
    background-color: transparent;
}

button:hover{
    background-color: #acacac;
}

form{
    padding: 2rem;
}